@media screen and (min-width: 960px){
     *{ 
      font-size: 20px;
        box-sizing: border-box;
  margin: 0;
    }
    body{
		color:#4B0082;
	  	background-color:	#a484f6;

    }
    .page-nav{
      max-width: 960px;
      border: 3px solid #000000;
      margin-left: 20%;
      background-color: rgb(70, 174, 167);

    }
    .page-nav li {

      display: inline-block;
      margin: 5px 30px 0 0;
      width: 250px;
      border: 3px solid #759cd8;
      background-color: #8b31c4;
      padding: 10px;
      border: 2px solid #000000;
    }
   
    nav ul li {
      margin:0 auto;
      border: 2px solid #000000;
      background-color: #e799f17c;
      min-height: 20px;
      width: 50%;
      text-align: center;
      }
    div {
      margin: 0 auto;
      max-width: 960px;
    }
    ul{
      display:inline-flex; 
      list-style-type: none;
    }
  



/* ul.hr {
  margin: 0; 
  padding: 4px; 
}
ul.hr li {
  display: inline; 
  margin-right: 5px; 
  border: 1px solid #000; 
  padding: 3px; 
}*/

    
    a{
        display: block;
        color: #000000;  
    }
    a:hover{
        text-decoration: underline;
    }
    .table{
        border-collapse: collapse;
        border: 1px solid black;
        
    }
    th, td{
        border: 1px solid black;
    }
    .form{
        align-items: center;
        background-color: aquamarine;
        border: 1px solid black;
    }
    input, select, textarea{
        outline: none;
        border: 1px solid#e5e5e5;
    }
    input[type=submit],[type=radio], [type=date]{
        cursor: pointer;
    }
    input[type=submit]{
        background-color: rgb(255, 255, 255);
    }
    textarea{
        resize: none;
    }
    header{
        background-color: rgb(70, 174, 167);
  border-bottom: 5px solid #000000;
    }
    .main {
      background-color: rgb(140, 239, 232);
border: 5px solid #000000;
  }
     img {
        border: 3px solid #000000;
      }
      .header_cont {
        padding: 15px 10px 0 10px;
        clear: both;
      }
      .header_cont div {
        display: inline-block;
        padding: 25px 0 0 10px;
      }
      
    .container{
        width: 100%;
    }
    tr:nth-child(even){
        background-color: #621ff4;
    }
    .footer{
        align-items: center;
        background-color: rgb(70, 174, 167);
    } 
}
